@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: url("../public/assets/images/Background.png") no-repeat center
    center fixed;
  background-size: cover;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: HeaderBoldFont;
  src: url("../app/fonts/Fontspring-DEMO-integralcf-bold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: HeaderMediumFont;
  src: url("../app/fonts/Fontspring-DEMO-integralcf-medium.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
